<!DOCTYPE html>
<html>
<head>
    <title>Neuer Nutzer der Familienwebseite</title>
</head>
<body>
    <p>Hallo, {{ user.first_name }}</p>
    <p>Du möchtest dich für die Familienwebseite registrieren, kennst aber keinen Bürgen?</p>
    <p>In diesem Fall benötigen wir einen Scan deiner Geburtsurkunde. Bitte verstehe, dass wir nur verifizierte Familienmitglieder zulassen können.</p>
    <p>Solltest du Fragen oder zusätzliche Informationen haben, damit wir dich richtig zuordnen können, schick diese bitte auch mit.</p>
    <p>Aus Sicherheitsgründen können wir als Anhänge nur Fotos (jpg oder png) akzeptieren.</p>
    <p>Vielen Dank für dein Verständnis und dein Interesse,<br><br>Das Website Team</p>
</body>
</html>