<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort-Reset</title>
</head>
<body>
    <p>Hallo {{ user.first_name }},</p>
    <p>Bitte klicke auf den folgenden Link, um dein Kennwort zurückzusetzen:</p>
    <a href="{{ reset_link }}">Reset-Link</a>
    <p>Wenn der Link nicht funktioniert, kopiere bitte die folgende URL in deinen Browser: {{ reset_link }}</p>
    <p>Liebe Grüße,<br><br>Dein Website-Team</p>
</body>
</html>
